.logo.yew:hover {
  filter: drop-shadow(0 0 2em #20a88a);
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  /* background-color: #f6f6f6; */
  background-color: aliceblue;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  overflow-y: overlay;
}

.container {
  margin: 0;
  /* height: auto; */
  /* padding-top: 10vh; */
  /* display: flex; */
  text-align: center;
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: center; */
  /* overflow: hidden; */
  /* flex-wrap: nowrap; */
  /* column-count: 8; */
  /* column-gap: .5vw; */
  /* padding-top: .5vw; */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: 0.75s;
}

.logo.tauri:hover {
  filter: drop-shadow(0 0 2em #24c8db);
}

.row {
  display: flex;
  justify-content: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  text-align: center;
}

input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button {
  cursor: pointer;
}

button:hover {
  border-color: #396cd8;
}

input,
button {
  outline: none;
}

#greet-input {
  margin-right: 5px;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }
}

.album {
  position: relative;
  width: 25vw;
  height: 25vw;
  break-inside: avoid;
  display: inline-flex;
  float: left;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: center;
}

img {
  pointer-events: None !important;
  /* float: left; */
  overflow: hidden;
  width: 100%;
  /* height: 100%; */
}

@media screen and (min-width: 960px) {
  .album {
    position: relative;
    width: 12.5vw;
    height: 12.5vw;
    break-inside: avoid;
    display: inline-flex;
    float: left;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
  }
}

@media screen and (min-width: 960px) {
  img {
    pointer-events: None !important;
    overflow: hidden;
    width: 100%;
    /* height: 100%; */
  }
}

::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}


.menu {
  position: fixed;
  top: 5px;
  right: 5px;
  color: #000;
  display: inline-block;
  cursor: pointer;
  /* width: 40px; */
  /* height: 40px; */
  z-index: 99;
}


.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  /* background-color: aliceblue; */
  background-color: slategray;
  margin: 6px 0;
  transition: 0.4s;
  pointer-events: none;
}


/* 旋转第一个条形图 */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* 淡出第二条 */
.change .bar2 {
  opacity: 0;
}

/* 旋转最后一个条形图 */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}

.menu-item {
  display: block;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(15 15 15 / 80%);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  width: 0;
}

.menu-display {
  width: 100%;
}

.menu-item ul {
  float: left;
  list-style-type: none;
  display: contents;
}

.menu-item li a {
  padding: 8px 8px 8px 32px;
  font-size: 35px;
  line-height: 1.8;
  color: #818181;
  transition: 0.3s;
}

.menu-item li a:hover {
  color: #f1f1f1;
}

.about {
  text-align: left;
  display: block;
  width: 800px;
  margin: 100px auto;
  font-size: 20px;
  font-weight: 300;
  text-indent: 40px;
  line-height: 2;
}


.media-link {
  margin: auto;
  width: fit-content;
}

.ui_media_link_btn_youtube {
  background-image: url(/public/media_link/youtube32x32.svg);
  background-position: center center;
  background-repeat: no-repeat;
  border: none;
  background-size: 100% 100%;
}

.ui_media_link_btn_spotify {
    background-image: url(/public/media_link/spotifyDark32x32.svg);
    background-position: center center;
    background-repeat: no-repeat;
    border: none;
    background-size: 100% 100%;
}

.ui_media_link_btn_bandcamp {
    background-image: url(/public/media_link/bandcamp32x32.svg);
    background-position: center center;
    background-repeat: no-repeat;
    border: none;
    background-size: 100% 100%;
}

.ui_media_link_btn_applemusic {
    background-image: url(/public/media_link/itunes32x32.svg);
    background-position: center center;
    background-repeat: no-repeat;
    border: none;
    background-size: 100% 100%;
}

.ui_media_link_btn {
    width: 2em;
    height: 2em;
}
